<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
  tr:nth-child(even) {background-color: #f2f2f2}
  body {font-family: sans-serif}
  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
</style>
</head>
<body>
{% if not requests %}
<div id=maincontent>
<h2>No requests found for {{UUN}}</h2>
{% else %}
  <h2>Viewing requests from user {{UUN}}</h2>
  <table>
    <tr>
      <th>Request for</th>
      <th>Requested on</th>
      <th>Status</th>
    </tr>
    {% for r in requests %}
    <tr>
      <td><a href="/request/{{r['UUN']}}/{{r['UUID']}}/view">{{r['policy']}}</a></td>
      <td>{{format_date(r['date'])}}</td>
      <td>{{r['status']}} {% if r['status'] in [ 'Approved', 'Denied' ] %} by {{r['actioned_by']}} at {{format_date(r['actioned_at'])}} {% endif %}<td>
    </tr>
    {% endfor %}
  </table>
{% endif %}
</div>
</body>
</html>
