<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
  tr:nth-child(even) {background-color: #f2f2f2}
  body {font-family: sans-serif}
  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
</style>
</head>
<body>
<div id=maincontent>
  <h2>Viewing requests from user {{requests[0].attributes['UUN']}}</h2>
  <table>
    <tr>
      <th>Request for</th>
      <th>Requested on</th>
      <th>Status</th>
    </tr>
    {% for r in requests %}
    <tr>
      <td><a href="/request/{{r.attributes['uuid']}}/{{r.attributes['uuid']}}/view">{{r.attributes['policy']}}</a></td>
      <td>{{r.attributes['date']}}</td>
      <td>{{r.attributes['status']}} {% if r.attributes['status'] in [ 'Approved', 'Denied' ] %} by {{r.attributes['actioned_by']}} {% endif %} at {{r.attributes['actioned_at']}}<td>
    </tr>
    {% endfor %}
  </table>
</div>
</body>
</html>
