A NEW APPLICATION REQUEST AWAITS YOUR APPROVAL

Application: {policy}
Requested by: {UUN}
Requested at: {date}
Message: {msg}

To approve or deny the request, please visit the URL below:

{base_url}/request/landing/{UUN}/{UUID}

Best Wishes,

Mac@ED
