Dear {UUN},

Your application request for {policy} has been denied by your designated approver ({actioned_by}), for the following reason:

{denial_reason}

You can re-request the application from Self Service if you believe you are entitled to install it.

If you are experiencing difficulties, please contact IS.Helpline@ed.ac.uk

Best Wishes,

Mac@ED
